# Uni-T UT61E+ CP2110 HID Device
ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="e429", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_PORT_IGNORE}="1"
